{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not found</title>
    <link rel="stylesheet" href="{% static 'encyclopedia/404.css' %}">
</head>
<body>
<div>
    <h1> 404 </h1>
    <h3> Not Found </h3>
    <h5> The resource requested could not be found on this server! </h5>
<!--    <form action="{% url 'index'%}" method="POST" id="back">-->
<!--        {%csrf_token%}-->
<!--        <input  type="submit" value="Back to home">-->
<!--    </form>-->
</div>
</body>
</html>